$main: #F8F8F8;
$header: #FFFAF0;
$font-color: #1E1E1E;
$nouveautes: #E6F4F1;
$tendance-beige: #F4EAE1;
$contact: #EEE;
$button-contact: #D1B39F;
$footer: #393939;
$hover: #FFD18C;

$nouveautes-white: rgba(255, 255, 255, 0.62);
$contact-white: rgba(250, 250, 250, 0.86);

$font-size: 16px;
$title-size: 24px;
$contact-size: 32px;