@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1.3; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

figure img {
  width: 100%;
  display: block; }

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

html {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #1E1E1E; }
  html a {
    text-decoration: none;
    color: inherit; }
    html a:hover {
      color: #FFD18C;
      transition: 0.2s; }
  html h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold; }

/* --------------------- header --------------------- */
header {
  background: #FFFAF0;
  vertical-align: middle; }
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px; }
    header nav img {
      width: 268px;
      height: auto;
      position: relative;
      margin: auto; }
    header nav .nav {
      display: flex;
      margin-top: auto;
      margin-bottom: auto; }
      header nav .nav li {
        font-size: 20px;
        text-transform: uppercase; }
        header nav .nav li:hover {
          border-bottom: solid 2px #FFD18C; }
    header nav .menu > li {
      margin-right: 35px; }
    header nav .picto > li {
      margin-left: 20px; }
      header nav .picto > li:hover {
        color: #FFD18C;
        transition: 0.2s;
        border: none; }
    header nav #loupe {
      margin-right: 30px; }

/* --------------------- slider --------------------- */
.slider img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: none; }

img.active {
  display: block;
  animation: fade 0.8s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
div.left,
div.right {
  position: absolute;
  top: 60%;
  color: #1E1E1E;
  font-size: 20px;
  cursor: pointer;
  user-select: none; }

div.left {
  left: 0px;
  background: #FFF;
  padding: 10px;
  border-radius: 0 50px 50px 0; }
  div.left:hover {
    color: #FFF;
    background-color: #FFD18C;
    transition: 0.2s; }

div.right {
  right: 0px;
  background: #FFF;
  padding: 10px;
  border-radius: 50px 0 0 50px; }
  div.right:hover {
    color: #FFF;
    background-color: #FFD18C;
    transition: 0.2s; }

.button-white {
  position: absolute;
  top: 85%;
  background: #F8F8F8;
  padding: 10px 35px;
  z-index: 5;
  left: 45%; }
  .button-white:hover {
    color: #fff;
    background: #FFD18C;
    transition: 0.2s; }

/* --------------------- nouveautés --------------------- */
#grid-nouv {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr) 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 45px 95px;
  background-color: #E6F4F1; }
  #grid-nouv #nouv1 {
    grid-area: 1 / 1 / 2 / 2; }
    #grid-nouv #nouv1 h1 {
      padding: 50% 0;
      text-align: center; }
  #grid-nouv #nouv2 {
    grid-area: 1 / 2 / 2 / 3; }
  #grid-nouv #nouv3 {
    grid-area: 2 / 1 / 3 / 2; }
  #grid-nouv #nouv4 {
    grid-area: 2 / 2 / 3 / 3; }
  #grid-nouv #nouv5 {
    grid-area: 1 / 3 / 3 / 9; }
  #grid-nouv .white-opacity {
    text-align: center;
    background: #FFF;
    opacity: 0.7;
    padding: 10px 0 20px 0; }

/* --------------------- tendance --------------------- */
#section-tendance {
  background: #F8F8F8; }
  #section-tendance h1 {
    padding-top: 80px;
    text-align: center; }
  #section-tendance #tendances {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 74px;
    padding: 75px 95px; }
    #section-tendance #tendances .tendance-1 {
      background-color: #F4EAE1; }
      #section-tendance #tendances .tendance-1 .title-i {
        padding: 26px 21px 0 21px;
        display: flex;
        justify-content: space-between; }
        #section-tendance #tendances .tendance-1 .title-i h2 {
          text-transform: uppercase;
          font-weight: bold; }
        #section-tendance #tendances .tendance-1 .title-i i {
          cursor: pointer; }
          #section-tendance #tendances .tendance-1 .title-i i:hover {
            color: red;
            transition: 0.2s; }
      #section-tendance #tendances .tendance-1 .p-span {
        padding: 30px 21px 50px 21px;
        display: flex;
        justify-content: space-between; }
        #section-tendance #tendances .tendance-1 .p-span span {
          font-weight: bold; }
        #section-tendance #tendances .tendance-1 .p-span p {
          width: 70%; }

/* --------------------- gallerie --------------------- */
#gallerie {
  background: #F8F8F8;
  text-align: center;
  padding: 0 95px 80px 95px; }
  #gallerie p {
    font-size: 20px;
    margin: 20px 0 35px 0; }
  #gallerie img {
    height: 100%; }
  #gallerie #grid-gallerie1 {
    display: grid;
    grid-template-columns: 1fr 0.55fr 1.3fr 0.9fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px; }
  #gallerie #grid-gallerie2 {
    display: grid;
    grid-template-columns: 1.2fr repeat(2, 0.8fr) 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 16px 0; }
  #gallerie #grid-gallerie3 {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 0.5fr 0.8fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px; }

/* --------------------- contact --------------------- */
#background-grey {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #EEE; }
  #background-grey #picture {
    background: url(../img/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40%; }
    #background-grey #picture::before {
      content: '';
      display: block;
      width: 400px;
      height: 130px;
      background: #FFF;
      opacity: 0.8;
      position: absolute;
      margin: -15px 20%;
      z-index: 2; }
    #background-grey #picture .background-white {
      display: flex;
      text-align: center;
      padding: 0 40%;
      width: max-content;
      margin-bottom: 15px;
      z-index: 5;
      position: relative; }
      #background-grey #picture .background-white i {
        color: #D1B39F;
        margin-right: 10px; }
  #background-grey form {
    text-align: center;
    padding-bottom: 60px;
    margin: auto; }
    #background-grey form h1 {
      padding: 65px 0px 70px 0px; }
    #background-grey form input {
      border: none;
      border-bottom: solid 2px #393939;
      background: #EEE; }
      #background-grey form input::placeholder {
        font-size: 15px; }
    #background-grey form #flex {
      display: flex; }
      #background-grey form #flex #firstname {
        margin-left: 20px; }
    #background-grey form #size input {
      padding: 5px 50% 5px 15px; }
    #background-grey form p {
      padding-bottom: 25px; }
    #background-grey form textarea {
      border: none;
      border-bottom: solid 2px #393939;
      background: #EEE;
      padding: 5px 50% 120px 15px; }
      #background-grey form textarea::placeholder {
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; }
    #background-grey form .button-contact {
      border: none;
      background: #D1B39F;
      color: #FFF;
      border-radius: 10px;
      padding: 15px 30px; }
      #background-grey form .button-contact:hover {
        color: #D1B39F;
        background: #EEE;
        border: solid 2px #D1B39F;
        transition: 0.2s;
        cursor: pointer; }

/* --------------------- newsletter --------------------- */
#newsletter {
  background: #E6F4F1;
  display: flex;
  justify-content: space-between;
  padding: 85px 210px 170px 210px; }
  #newsletter div {
    width: 25%; }
    #newsletter div h1 {
      margin-bottom: 35px; }
  #newsletter form {
    display: flex;
    align-items: center; }
    #newsletter form input {
      margin-right: 25px;
      border-radius: 14px;
      border: none;
      padding: 15px 50px 15px 15px; }
    #newsletter form button {
      border-radius: 14px;
      border: none;
      padding: 15px 20px;
      background: #393939;
      color: #FFF; }
      #newsletter form button:hover {
        color: #393939;
        background: #E6F4F1;
        transition: 0.2s;
        cursor: pointer; }

/* --------------------- footer --------------------- */
footer {
  background: #393939;
  color: #FFF; }
  footer #menu-footer {
    padding: 60px 130px 80px 110px;
    display: flex;
    justify-content: space-between; }
    footer #menu-footer .footer li {
      padding-top: 15px; }
    footer #menu-footer img {
      width: 268px;
      height: auto; }
    footer #menu-footer #social h1 {
      text-transform: capitalize; }
    footer #menu-footer #social #rs {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      font-size: 25px;
      margin: 0 -15px; }
  footer #copyright {
    text-align: center;
    padding-bottom: 40px; }
    footer #copyright a {
      cursor: pointer; }

.nav-toggler {
  display: none; }

/* --------------------- responsive --------------------- */
@media screen and (max-width: 1450px) {
  .button-white {
    top: 75%; }

  #background-grey #picture {
    padding-top: 55%; } }
@media screen and (max-width: 1300px) {
  div.left,
  div.right {
    top: 50%; }

  #background-grey #picture {
    padding-top: 65%; }
    #background-grey #picture::before {
      margin: -15px 15%; }
    #background-grey #picture .background-white {
      padding: 0 35%; } }
@media screen and (max-width: 1193px) {
  html {
    max-width: 100%; }

  .button-white {
    top: 70%; }

  #grid-nouv #nouv5 {
    grid-area: 1 / 3 / 3 / 12; } }
@media screen and (max-width: 1080px) {
  .button-white {
    top: 62%; }

  #background-grey #picture {
    padding-top: 75%; }
    #background-grey #picture::before {
      margin: -18px 10%; }
    #background-grey #picture .background-white {
      padding: 0 27%; } }
@media screen and (max-width: 892px) {
  .button-white {
    top: 55%;
    left: 37%; }

  div.left,
  div.right {
    top: 40%; }

  #background-grey #picture {
    padding-top: 90%; }
    #background-grey #picture::before {
      margin: -18px 7%; }
    #background-grey #picture .background-white {
      padding: 0 24%; }

  #grid-nouv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; }
    #grid-nouv #nouv1 {
      grid-area: 1 / 1 / 2 / 2; }
    #grid-nouv #nouv2 {
      grid-area: 1 / 2 / 2 / 3; }
    #grid-nouv #nouv3 {
      grid-area: 2 / 1 / 3 / 2; }
    #grid-nouv #nouv4 {
      grid-area: 2 / 2 / 3 / 3; }
    #grid-nouv #nouv5 {
      grid-area: 3 / 1 / 4 / 3; }

  #section-tendance #tendances {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; }

  #gallerie #grid-gallerie1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; }
  #gallerie #grid-gallerie2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; }
  #gallerie #grid-gallerie3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; }

  #background-grey form {
    margin: 0 20px; }

  #newsletter {
    padding: 85px 100px 170px 100px; }

  footer #menu-footer {
    padding: 60px 20px 80px 20px;
    justify-content: space-evenly;
    flex-wrap: wrap; }

  header nav {
    justify-content: space-around; } }
@media screen and (max-width: 794px) {
  header nav {
    padding: 0;
    position: fixed;
    z-index: 6;
    width: 100%;
    background: #FFFAF0;
    justify-content: flex-end; }
    header nav img {
      width: 180px;
      height: auto; }

  .slider img {
    padding-top: 100px; }

  /* --------------------- menu burger --------------------- */
  .nav-toggler {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; }
    .nav-toggler .line {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #1E1E1E;
      transition: transform 0.3s ease-out, opacity 0.1s ease-out; }
    .nav-toggler .l1 {
      transform: translateY(-10px); }
    .nav-toggler .l3 {
      transform: translateY(10px); }

  .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg); }

  .nav-toggler.active .l2 {
    opacity: 0; }

  .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg); }

  header nav .nav-menu {
    position: fixed;
    width: 100vw;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFAF0;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84); }

  header nav .nav-menu.active {
    transform: translate(0); }

  .button-white {
    top: 48%;
    left: 36%; }

  #background-grey #picture {
    padding-top: 55%; }

  #background-grey #picture::before {
    width: 290px;
    margin: -18px 6%; }

  #background-grey #picture {
    padding-top: 125%; } }
@media screen and (max-width: 778px) {
  .button-white {
    top: 40%;
    padding: 7px 20px;
    left: 38%; }

  div.left,
  div.right {
    top: 26%;
    font-size: 14px;
    padding: 6px; }

  #background-grey #picture {
    padding-top: 75%; }
    #background-grey #picture::before {
      margin: -18px 10%; }
    #background-grey #picture .background-white {
      padding: 0 27%; }

  #background-grey {
    grid-template-columns: 1fr; }
    #background-grey #picture::before {
      margin: -18px 32%; }
    #background-grey #picture .background-white {
      padding: 0 0 0 35%; }

  #background-grey form #flex {
    justify-content: center; }
    #background-grey form #flex input {
      padding-right: 95px; } }
@media screen and (max-width: 500px) {
  body {
    width: fit-content; }

  .button-white {
    top: 30%;
    padding: 7px 20px;
    left: 33%; }

  div.left,
  div.right {
    top: 22%;
    font-size: 14px;
    padding: 6px; }

  #background-grey {
    max-width: 100%; }
    #background-grey #picture {
      padding-top: 75%; }
      #background-grey #picture::before {
        margin: -18px 22%; }
      #background-grey #picture .background-white {
        padding: 0 0 0 28%; }
    #background-grey form #flex input {
      padding-right: 26px; }

  #grid-nouv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; }
    #grid-nouv #nouv1 {
      grid-area: 1 / 1 / 1 / 3; }
      #grid-nouv #nouv1 h1 {
        padding: 0; }
    #grid-nouv #nouv2 {
      grid-area: 2 / 1 / 2 / 3; }
    #grid-nouv #nouv3 {
      grid-area: 3 / 2 / 3 / 3; }
    #grid-nouv #nouv4 {
      grid-area: 4 / 2 / 4 / 3; }
    #grid-nouv #nouv5 {
      grid-area: 5 / 1 / 5 / 3; }

  #section-tendance #tendances {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; }

  #gallerie #grid-gallerie1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; }

  #gallerie #grid-gallerie2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; }

  #gallerie #grid-gallerie3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; }

  #newsletter {
    display: block; }
    #newsletter form {
      display: block;
      text-align: center; }
      #newsletter form input {
        margin-right: 0;
        margin-bottom: 30px; }
    #newsletter div {
      width: auto;
      text-align: center;
      padding-bottom: 50px; }

  footer #menu-footer {
    text-align: center; }
    footer #menu-footer ul {
      list-style: none;
      margin-bottom: 50px; } }
@media screen and (max-width: 425px) {
  html h1 {
    font-size: 20px; }

  .button-white {
    top: 28%;
    left: 29%; }

  div.left,
  div.right {
    top: 20%; }

  div.right {
    right: -9px; }

  #background-grey #picture::before {
    margin: -18px 20%; }
  #background-grey #picture .background-white {
    padding: 0 0 0 26%; }
  #background-grey form #flex input {
    padding-right: 9px; }

  header nav img {
    width: 155px;
    height: auto;
    top: 10px; }

  .slider img {
    padding-top: 89px; }

  .nav-toggler {
    top: 20px; }

  #grid-nouv {
    padding: 45px 45px; }

  #section-tendance #tendances {
    padding: 35px 45px; }

  #gallerie {
    padding: 0 45px 80px 45px; }
    #gallerie p {
      font-size: 15px; }

  header nav .nav-menu {
    width: 103vw; }
    header nav .nav-menu li {
      margin-right: 0px; } }
@media screen and (max-width: 375px) {
  .button-white {
    top: 25%;
    left: 37%;
    font-size: 15px; }

  div.left,
  div.right {
    top: 20%; }

  div.right {
    right: -59px; }

  #background-grey #picture::before {
    margin: -18px 19%; }
  #background-grey #picture .background-white {
    padding: 0 0 0 24%; }
  #background-grey form #flex input {
    padding-right: 9px; }

  header nav img {
    width: 120px;
    height: auto;
    top: 0; }
  header nav .nav li {
    font-size: 16px; }
  header nav .nav-menu {
    width: 116vw; }

  .nav-toggler {
    top: 8px; }
    .nav-toggler .line {
      width: 80%; }

  .slider img {
    padding-top: 71px; } }
@media screen and (max-width: 320px) {
  header nav .nav-menu {
    width: 136vw; }

  #background-grey #picture::before {
    margin: -18px 22%; }

  div.right {
    right: -114px; } }

/*# sourceMappingURL=main.css.map */
